src/META-INF/wsdl/localhost_8080/BodyFitWS/BodyFitWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="BodyFitWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/BodyFitWS/BodyFitWS?xsd=1"/>
</xsd:schema>
</types>
<message name="HeightConverter">
<part name="parameters" element="tns:HeightConverter"/>
</message>
<message name="HeightConverterResponse">
<part name="parameters" element="tns:HeightConverterResponse"/>
</message>
<message name="clasificacionIMC">
<part name="parameters" element="tns:clasificacionIMC"/>
</message>
<message name="clasificacionIMCResponse">
<part name="parameters" element="tns:clasificacionIMCResponse"/>
</message>
<message name="calculoIMC">
<part name="parameters" element="tns:calculoIMC"/>
</message>
<message name="calculoIMCResponse">
<part name="parameters" element="tns:calculoIMCResponse"/>
</message>
<message name="weightConverter">
<part name="parameters" element="tns:weightConverter"/>
</message>
<message name="weightConverterResponse">
<part name="parameters" element="tns:weightConverterResponse"/>
</message>
<portType name="BodyFitWS">
<operation name="HeightConverter">
<input wsam:Action="http://service/BodyFitWS/HeightConverterRequest" message="tns:HeightConverter"/>
<output wsam:Action="http://service/BodyFitWS/HeightConverterResponse" message="tns:HeightConverterResponse"/>
</operation>
<operation name="clasificacionIMC">
<input wsam:Action="http://service/BodyFitWS/clasificacionIMCRequest" message="tns:clasificacionIMC"/>
<output wsam:Action="http://service/BodyFitWS/clasificacionIMCResponse" message="tns:clasificacionIMCResponse"/>
</operation>
<operation name="calculoIMC">
<input wsam:Action="http://service/BodyFitWS/calculoIMCRequest" message="tns:calculoIMC"/>
<output wsam:Action="http://service/BodyFitWS/calculoIMCResponse" message="tns:calculoIMCResponse"/>
</operation>
<operation name="weightConverter">
<input wsam:Action="http://service/BodyFitWS/weightConverterRequest" message="tns:weightConverter"/>
<output wsam:Action="http://service/BodyFitWS/weightConverterResponse" message="tns:weightConverterResponse"/>
</operation>
</portType>
<binding name="BodyFitWSPortBinding" type="tns:BodyFitWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="HeightConverter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clasificacionIMC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculoIMC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="weightConverter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BodyFitWS">
<port name="BodyFitWSPort" binding="tns:BodyFitWSPortBinding">
<soap:address location="http://localhost:8080/BodyFitWS/BodyFitWS"/>
</port>
</service>
</definitions>